{% extends 'base.html' %}

{% block title %} Experience {% endblock title %}
{% load static %}

{% block content %}


<section class="experience-section center-column">
    <h2>Experience/Education</h2>
    <div class="experience-list center-row"></div>

        <div class="experience-card">
            
                <p>Name of school or company</p>
                <p>Coursename or job position</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquid possimus voluptati!</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="experience-skills">
                    <label for="" class="text-label">skill 1</label>
                    <label for="" class="text-label">skill 2</label>
                    <label for="" class="text-label">skill 3</label>
                    <label for="" class="text-label">skill 4</label>
                    <label for="" class="text-label">skill 5</label>
                </div>
        </div>

    </div>
</section>


{% endblock content %}


