.about-section {
    padding: 2%;
}

.about-image-container img {
    width: 50%;
}

.about-image-container {
    width: 30%;
}

.about-description-container {
    width: 70%;
}

.about-description-container p {
    width: 90%;
    margin: 2rem 0;
}

.skills-list {
    flex-wrap: wrap;
    width: 70%;
    gap: 1rem;
    margin: 2rem 0;
}

/* Projects section*/

.projects-section {
    margin-top: 4rem;
}

.projects-list {
    margin: 2rem 0px;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: baseline;
}

.project-card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

a p:nth-child(2), .experience-card p:nth-child(1) {
    font-size: 25px;
    color: yellow;
    font-weight: bolder;
    margin: .5rem 0;
}

a p:nth-child(3), .experience-card p:nth-child(2) {
    margin: .5rem 0;
    font-style: italic;
}

a p:nth-child(4), .experience-card p:nth-child(4) {
    margin: .5rem 0;
    font-style: italic;
}

.project-card:hover {
    opacity: 0.5;
    border: solid 1px var(--primary-color);
}

.project-card img {
    width: 100%;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/*Experience */

.experience-section {
    margin-top: 4rem;
}

.experience-card {
    width: 25rem;
    border:  solid var(--primary-color) 1px;
    display: flex;
    flex-wrap:  wrap;
    padding: 1rem;
    margin: 2rem 0px;
    flex-direction: column;
    align-items: baseline;
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    gap:  1rem;
    margin: 1rem 0px;
}



